# Délimitation X et y

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
import numpy as np
from sklearn.model_selection import learning_curve
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from scipy import stats
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.model_selection import cross_val_score
import math
from tensorflow.keras import Sequential

2021-12-03 10:42:50.107199: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-12-03 10:42:50.107255: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
data = pd.read_csv("../raw_data/data_final_indé.csv")

In [3]:
data

,steam_appid,name,top_5_tags,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,...,english,price,has_a_website,nb_review,owner_estimated,rating,popularity,score_descriptif,average_playtime,median_playtime
0,4290,RACE: Caterham Expansion,racing simulation relaxing realistic real_time...,0.015822,0.015822,0.015822,0.015822,0.015822,0.015822,0.015822,...,1,3.99,1,6,1248.0,424.233333,517.758333,4,0,0
1,4900,Zen of Sudoku,casual puzzle 1980s relaxing realistic,0.015666,0.307211,0.015666,0.015666,0.015666,0.015666,0.015666,...,1,0.00,1,139,20000.0,22124.365000,23631.392500,3,0,0
2,7340,Azada,casual puzzle 1980s relaxing realistic,0.015666,0.307211,0.015666,0.015666,0.015666,0.015666,0.015666,...,1,6.99,1,12,2496.0,7.012399,9.197810,1,0,0
3,9960,Haunted House™,adventure 1980s relaxing realistic real_time_w...,0.015546,0.015546,0.015546,0.015546,0.015546,0.015546,0.015546,...,1,4.79,1,22,4576.0,215.087500,263.378125,3,0,0
4,9970,Star Raiders,action space 1980s realistic real_time_with_pause,0.016158,0.016158,0.016158,0.016158,0.016158,0.016158,0.016158,...,1,6.99,1,29,6032.0,209.787500,263.028125,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18524,1065230,Room of Pandora,adventure casual puzzle 1980s relaxing,0.015694,0.701810,0.015694,0.015694,0.015694,0.015694,0.015694,...,1,2.09,0,3,624.0,3.000000,3.000000,1,0,0
18525,1065570,Cyber Gun,action adventure fps 3d_platformer fast_paced,0.016478,0.016478,0.519926,0.016478,0.183470,0.016478,0.016478,...,1,1.69,0,9,1872.0,13.366667,16.816667,3,0,0
18526,1065650,Super Star Blast,action casual 1980s relaxing realistic,0.015483,0.015483,0.015483,0.015483,0.015483,0.015483,0.015483,...,1,3.99,1,1,208.0,4.600000,10.450000,5,0,0
18527,1066700,New Yankee 7: Deer Hunters,casual adventure 1980s relaxing realistic,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,...,1,5.19,1,2,416.0,23.463964,29.301802,2,0,0
18528,1069460,Rune Lord,casual adventure 1980s relaxing realistic,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,...,1,5.19,1,4,832.0,21.097297,26.485135,3,0,0

In [4]:
data.average_playtime.value_counts()

0      17755
1         57
2         26
3         22
9         18
       ...
208        1
580        1
167        1
578        1
347        1
Name: average_playtime, Length: 358, dtype: int64

In [5]:
obj = data.isnull().sum()
for key,value in obj.iteritems():
    print(f'"{key}"')

"steam_appid"
"name"
"top_5_tags"
"topic_0"
"topic_1"
"topic_2"
"topic_3"
"topic_4"
"topic_5"
"topic_6"
"topic_7"
"topic_8"
"topic_9"
"topic_10"
"topic_11"
"topic_12"
"topic_13"
"topic_14"
"topic_15"
"topic_16"
"topic_17"
"topic_18"
"topic_19"
"english"
"price"
"has_a_website"
"nb_review"
"owner_estimated"
"rating"
"popularity"
"score_descriptif"
"average_playtime"
"median_playtime"

In [6]:
X = data.drop(columns=["steam_appid",
                        "name",
                       "top_5_tags",
                       "nb_review",
                       "owner_estimated",
                       "rating",
                       "popularity"
                      "average_playtime"
                    "median_playtime"])
#X = data[['name']]
y = data['owner_estimated']

In [7]:
X.columns

Index(['topic_0', 'topic_1', 'topic_2', 'topic_3', 'topic_4', 'topic_5',
       'topic_6', 'topic_7', 'topic_8', 'topic_9', 'topic_10', 'topic_11',
       'topic_12', 'topic_13', 'topic_14', 'topic_15', 'topic_16', 'topic_17',
       'topic_18', 'topic_19', 'english', 'price', 'has_a_website',
       'score_descriptif', 'average_playtime', 'median_playtime'],
      dtype='object')

In [8]:
y

0         1248.0
1        20000.0
2         2496.0
3         4576.0
4         6032.0
          ...
18524      624.0
18525     1872.0
18526      208.0
18527      416.0
18528      832.0
Name: owner_estimated, Length: 18529, dtype: float64

In [9]:
X

,topic_0,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6,topic_7,topic_8,topic_9,...,topic_16,topic_17,topic_18,topic_19,english,price,has_a_website,score_descriptif,average_playtime,median_playtime
0,0.015822,0.015822,0.015822,0.015822,0.015822,0.015822,0.015822,0.015822,0.015822,0.015822,...,0.428065,0.015822,0.015822,0.015822,1,3.99,1,4,0,0
1,0.015666,0.307211,0.015666,0.015666,0.015666,0.015666,0.015666,0.015666,0.015666,0.015666,...,0.015666,0.015666,0.015666,0.410797,1,0.00,1,3,0,0
2,0.015666,0.307211,0.015666,0.015666,0.015666,0.015666,0.015666,0.015666,0.015666,0.015666,...,0.015666,0.015666,0.015666,0.410797,1,6.99,1,1,0,0
3,0.015546,0.015546,0.015546,0.015546,0.015546,0.015546,0.015546,0.015546,0.015546,0.015546,...,0.015546,0.015546,0.015546,0.704628,1,4.79,1,3,0,0
4,0.016158,0.016158,0.016158,0.016158,0.016158,0.016158,0.016158,0.016158,0.016158,0.016158,...,0.016158,0.016158,0.016158,0.433305,1,6.99,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18524,0.015694,0.701810,0.015694,0.015694,0.015694,0.015694,0.015694,0.015694,0.015694,0.015694,...,0.015694,0.015694,0.015694,0.015694,1,2.09,0,1,0,0
18525,0.016478,0.016478,0.519926,0.016478,0.183470,0.016478,0.016478,0.016478,0.016478,0.016478,...,0.016478,0.016478,0.016478,0.016478,1,1.69,0,3,0,0
18526,0.015483,0.015483,0.015483,0.015483,0.015483,0.015483,0.015483,0.015483,0.015483,0.015483,...,0.015483,0.015483,0.015483,0.705831,1,3.99,1,5,0,0
18527,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,...,0.015466,0.015466,0.015466,0.706139,1,5.19,1,2,0,0
18528,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,0.015466,...,0.015466,0.015466,0.015466,0.706139,1,5.19,1,3,0,0

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

# Baseline model

In [11]:
resultat = 0
for i in y:
    score = (10000-i)**2
    resultat += score
print(resultat/len(y))
print(math.sqrt(resultat/len(y)))

55808593.681256406
7470.514954222125

# Scaler

In [12]:
scaler = StandardScaler()
scaler.fit(X_train)
scaler.transform(X_train)
scaler.transform(X_test)

array([[-0.2939503 , -0.25082758, -0.25237017, ..., -0.08578886,
        -0.03679061, -0.0371287 ],
       [-0.29552868, -0.2529366 , -0.25429273, ...,  0.69285461,
        -0.03679061, -0.0371287 ],
       [ 3.76872693, -0.2507449 , -0.25229479, ...,  0.30353287,
        -0.03679061, -0.0371287 ],
       ...,
       [-0.29041078, -0.24609811, -0.24805882, ...,  1.08217634,
        -0.03679061, -0.0371287 ],
       [ 4.6288884 , -0.24832537, -0.25008918, ..., -0.47511059,
         0.60289023,  0.60227384],
       [ 1.19665018, -0.25096159, -0.25249232, ...,  2.63946327,
        -0.03679061, -0.0371287 ]])

# Model

In [13]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, StackingRegressor
from sklearn.linear_model import Lasso, LinearRegression


forest = RandomForestRegressor(n_estimators=100, max_leaf_nodes=1000, max_depth=50)
KNN = KNeighborsRegressor(n_neighbors=10)
lasso = Lasso(max_iter=5000,positive=True, fit_intercept=False, )
GBR = GradientBoostingRegressor(
    n_estimators=100, 
    learning_rate=0.1,
    max_depth=3)
    
ensemble = StackingRegressor(
    estimators = [('GBR', GBR), ("lasso", lasso), ('forest', forest)],
    final_estimator = lasso,
                n_jobs=-1)

In [14]:
from tensorflow.keras import Sequential, layers

In [15]:
# Add Estimator
pipe = make_pipeline(ensemble)

# Train pipeline
pipe.fit(X_train,y_train)

# Make predictions
#pipe.predict(X_test.iloc[0:2])

# Cross validate pipeline
#cross_val_score(ensemble, X_test, y_test, cv=5, scoring='r2').mean()
cross_val_score(ensemble, X_test, y_test, cv=5, scoring='neg_mean_squared_error').mean()

-30990655.41834574

In [18]:
math.sqrt(30990655)

5566.925093801784